<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_brackets</key>
	<array>
		<string>braceleft</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_cha_deva</key>
	<array>
		<string>cha-deva</string>
		<string>ch-deva</string>
	</array>
	<key>@MMK_L_colons</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_d_da_deva</key>
	<array>
		<string>d_da-deva</string>
		<string>d_da_uMatra-deva</string>
		<string>d_da_uuMatra-deva</string>
	</array>
	<key>@MMK_L_da-deva</key>
	<array>
		<string>da-deva</string>
		<string>da_ra-deva</string>
		<string>da_ra_uMatra-deva</string>
		<string>da_ra_uuMatra-deva</string>
		<string>da_uMatra-deva</string>
		<string>da_uuMatra-deva</string>
		<string>da_rVocalicMatra-deva</string>
		<string>d_ga-deva</string>
		<string>d_ga_ra-deva</string>
		<string>d_ga_uMatra-deva</string>
		<string>d_ga_uuMatra-deva</string>
		<string>d_gha-deva</string>
		<string>d_gha_uMatra-deva</string>
		<string>d_gha_uuMatra-deva</string>
		<string>d_dha-deva</string>
		<string>d_dha_uMatra-deva</string>
		<string>d_dha_uuMatra-deva</string>
		<string>d_na-deva</string>
		<string>d_na_uMatra-deva</string>
		<string>d_na_uuMatra-deva</string>
		<string>d_ba-deva</string>
		<string>d_ba_ra-deva</string>
		<string>d_ba_uMatra-deva</string>
		<string>d_ba_uuMatra-deva</string>
		<string>d_bha-deva</string>
		<string>d_bha_uMatra-deva</string>
		<string>d_bha_uuMatra-deva</string>
		<string>d_va-deva</string>
		<string>d_va_uMatra-deva</string>
		<string>d_va_uuMatra-deva</string>
	</array>
	<key>@MMK_L_dashes</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>dda-deva</string>
		<string>dddha-deva</string>
		<string>ddda-deva</string>
	</array>
	<key>@MMK_L_ddha-deva</key>
	<array>
		<string>ddha-deva</string>
		<string>rha-deva</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_five_deva</key>
	<array>
		<string>five-deva</string>
		<string>five-deva.loclNEP</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_g-deva</key>
	<array>
		<string>g_n-deva</string>
	</array>
	<key>@MMK_L_gh-deva</key>
	<array>
		<string>gh_ra-deva</string>
		<string>dh_ra-deva</string>
	</array>
	<key>@MMK_L_guillemets_left</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemets_right</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_ha-deva</key>
	<array>
		<string>ha-deva</string>
		<string>ha-deva.post</string>
		<string>rr_ha-deva</string>
		<string>v_ha-deva</string>
		<string>ha_ra-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
	</array>
	<key>@MMK_L_iaccent</key>
	<array>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>@MMK_L_j-deva</key>
	<array>
		<string>j-deva</string>
		<string>z-deva</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_k_deva</key>
	<array>
		<string>k-deva</string>
		<string>q-deva</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>ka-deva</string>
		<string>pha-deva</string>
		<string>qa-deva</string>
		<string>fa-deva</string>
		<string>jha-deva.loclNEP</string>
		<string>ka_ra-deva</string>
		<string>k_t_ta-deva</string>
		<string>pha_ra-deva</string>
		<string>fa_ra-deva</string>
		<string>ka_ra-deva.loclNEP</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>kh-deva</string>
		<string>khh-deva</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
		<string>i</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>j</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_i</string>
		<string>f_l</string>
	</array>
	<key>@MMK_L_la_deva</key>
	<array>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>la-deva.loclMAR</string>
		<string>l-deva.loclMAR</string>
	</array>
	<key>@MMK_L_lcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_ll-deva</key>
	<array>
		<string>ll-deva</string>
		<string>lll-deva</string>
	</array>
	<key>@MMK_L_lla_deva</key>
	<array>
		<string>lla-deva</string>
		<string>llla-deva</string>
	</array>
	<key>@MMK_L_m-deva</key>
	<array>
		<string>bh_n-deva</string>
		<string>bh_ra-deva</string>
		<string>m_n-deva</string>
		<string>m_ra-deva</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>idotless</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>q</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_L_n_ra_deva</key>
	<array>
		<string>t_ra-deva</string>
		<string>n_n-deva</string>
		<string>n_ra-deva</string>
	</array>
	<key>@MMK_L_ng-deva</key>
	<array>
		<string>ng_ka-deva</string>
		<string>ng_ka_ra-deva</string>
		<string>ng_k_t_ta-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_ga_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gha_ra-deva</string>
		<string>ng_ma-deva</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_pa-deva</key>
	<array>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>oMatra-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>auMatra_anusvara-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>iMatra-deva.01</string>
		<string>iMatra-deva.02</string>
		<string>iMatra-deva.03</string>
		<string>iMatra-deva.04</string>
		<string>iMatra-deva.05</string>
		<string>iMatra_reph-deva.01</string>
		<string>iMatra_reph-deva.02</string>
		<string>iMatra_reph-deva.03</string>
		<string>iMatra_reph-deva.04</string>
		<string>iMatra_reph-deva.05</string>
		<string>iMatra_reph_anusvara-deva.01</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>ca-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>la-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>yya-deva</string>
		<string>zha-deva</string>
		<string>jjya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>bba-deva</string>
		<string>sha-deva.loclMAR</string>
		<string>k_ca-deva</string>
		<string>k_sha-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ssa_ra-deva</string>
		<string>k_ss_ma-deva</string>
		<string>k_ss_ya-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra_ya-deva</string>
		<string>ga_ra-deva</string>
		<string>g_na-deva</string>
		<string>g_n_ya-deva</string>
		<string>g_ra_ya-deva</string>
		<string>gha_ra-deva</string>
		<string>gh_na-deva</string>
		<string>ca_ra-deva</string>
		<string>c_ca-deva</string>
		<string>ja_ra-deva</string>
		<string>j_nya-deva</string>
		<string>j_nya_ra-deva</string>
		<string>j_na-deva</string>
		<string>j_ya-deva</string>
		<string>jha_ra-deva</string>
		<string>nya_ra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>tt_tt_ya-deva</string>
		<string>tt_ya-deva</string>
		<string>tth_tth_ya-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_dd_ya-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddh_ya-deva</string>
		<string>ddh_ya-deva</string>
		<string>nna_ra-deva</string>
		<string>ta_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_tha-deva</string>
		<string>t_ya-deva</string>
		<string>tha_ra-deva</string>
		<string>d_gh_ya-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_dh_ra_ya-deva</string>
		<string>d_bh_ya-deva</string>
		<string>d_ma-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra_ya-deva</string>
		<string>d_v_ya-deva</string>
		<string>dha_ra-deva</string>
		<string>na_ra-deva</string>
		<string>n_ga-deva</string>
		<string>n_ca-deva</string>
		<string>n_nya-deva</string>
		<string>n_na-deva</string>
		<string>n_n_ya-deva</string>
		<string>n_bha-deva</string>
		<string>n_ma-deva</string>
		<string>pa_ra-deva</string>
		<string>p_jha-deva</string>
		<string>ba_ra-deva</string>
		<string>b_ja-deva</string>
		<string>b_na-deva</string>
		<string>b_ya-deva</string>
		<string>bha_ra-deva</string>
		<string>ma_ra-deva</string>
		<string>ya_ra-deva</string>
		<string>rr_ya-deva</string>
		<string>la_ra-deva</string>
		<string>l_ca-deva</string>
		<string>l_bha-deva</string>
		<string>va_ra-deva</string>
		<string>v_na-deva</string>
		<string>v_ya-deva</string>
		<string>sha_ra-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_na-deva</string>
		<string>sh_va-deva</string>
		<string>ssa_ra-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_va-deva</string>
		<string>sa_ra-deva</string>
		<string>s_ta_ra-deva</string>
		<string>s_tha-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>sh-deva.base</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_L_ph-deva</key>
	<array>
		<string>ph-deva</string>
		<string>f-deva</string>
		<string>jh-deva.loclNEP</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_ra-deva</key>
	<array>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_stacks</key>
	<array>
		<string>k_ka-deva</string>
		<string>c_cha_va-deva</string>
		<string>ch_na-deva</string>
		<string>ch_va-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_na-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_na-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_va-deva</string>
		<string>k_la-deva.loclMAR</string>
		<string>kh_la-deva.loclMAR</string>
		<string>g_la-deva.loclMAR</string>
		<string>gh_la-deva.loclMAR</string>
		<string>c_la-deva.loclMAR</string>
		<string>ch_la-deva.loclMAR</string>
		<string>pa_la-deva.loclMAR</string>
		<string>ph_la-deva.loclMAR</string>
		<string>b_la-deva.loclMAR</string>
		<string>bh_la-deva.loclMAR</string>
		<string>m_la-deva.loclMAR</string>
		<string>l_la-deva.loclMAR</string>
		<string>v_la-deva.loclMAR</string>
	</array>
	<key>@MMK_L_stops</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_straightquotes</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_v-deva</key>
	<array>
		<string>v_n-deva</string>
		<string>v_ra-deva</string>
		<string>v-deva</string>
	</array>
	<key>@MMK_L_y-deva</key>
	<array>
		<string>y_n-deva</string>
		<string>y_ra-deva</string>
		<string>y-deva</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zero.lf</key>
	<array>
		<string>zero.lf</string>
		<string>nine.lf</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Germandbls</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_a-deva</key>
	<array>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
	</array>
	<key>@MMK_R_ba-deva</key>
	<array>
		<string>bba-deva</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bha-deva</string>
		<string>jha-deva.loclNEP</string>
		<string>bha_ra-deva</string>
		<string>bh_n-deva</string>
		<string>bh_ra-deva</string>
		<string>bh-deva</string>
		<string>jh-deva.loclNEP</string>
	</array>
	<key>@MMK_R_brackets</key>
	<array>
		<string>braceright</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>ca-deva</string>
		<string>ca_ra-deva</string>
		<string>c_ca-deva</string>
		<string>c_cha_va-deva</string>
		<string>c-deva</string>
	</array>
	<key>@MMK_R_cha-deva</key>
	<array>
		<string>cha-deva</string>
		<string>ch-deva</string>
	</array>
	<key>@MMK_R_colons</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_d_da-deva</key>
	<array>
		<string>d_da-deva</string>
		<string>d_da_uMatra-deva</string>
		<string>d_da_uuMatra-deva</string>
		<string>d_d_ya-deva</string>
	</array>
	<key>@MMK_R_d_dha_deva</key>
	<array>
		<string>d_dha-deva</string>
		<string>d_dha_uMatra-deva</string>
		<string>d_dha_uuMatra-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_dh_ra_ya-deva</string>
	</array>
	<key>@MMK_R_d_gha-deva</key>
	<array>
		<string>d_gha-deva</string>
		<string>d_gha_uMatra-deva</string>
		<string>d_gha_uuMatra-deva</string>
		<string>d_gh_ya-deva</string>
	</array>
	<key>@MMK_R_d_ya-deva</key>
	<array>
		<string>d_ya-deva</string>
		<string>d_ra_ya-deva</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>da-deva</string>
		<string>da_ra-deva</string>
		<string>da_ra_uMatra-deva</string>
		<string>da_ra_uuMatra-deva</string>
		<string>da_uMatra-deva</string>
		<string>da_uuMatra-deva</string>
		<string>da_rVocalicMatra-deva</string>
		<string>d_ga-deva</string>
		<string>d_ga_ra-deva</string>
		<string>d_ga_uMatra-deva</string>
		<string>d_ga_uuMatra-deva</string>
		<string>d_na-deva</string>
		<string>d_na_uMatra-deva</string>
		<string>d_na_uuMatra-deva</string>
		<string>d_ba-deva</string>
		<string>d_ba_ra-deva</string>
		<string>d_ba_uMatra-deva</string>
		<string>d_ba_uuMatra-deva</string>
		<string>d_va-deva</string>
		<string>d_va_uMatra-deva</string>
		<string>d_va_uuMatra-deva</string>
		<string>d_v_ya-deva</string>
	</array>
	<key>@MMK_R_da_bha_deva</key>
	<array>
		<string>d_bha-deva</string>
		<string>d_bha_uMatra-deva</string>
		<string>d_bha_uuMatra-deva</string>
		<string>d_bh_ya-deva</string>
	</array>
	<key>@MMK_R_dashes</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_dd-deva</key>
	<array>
		<string>dda-deva.post</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>nga-deva</string>
		<string>dda-deva</string>
		<string>dddha-deva</string>
		<string>ddda-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
	</array>
	<key>@MMK_R_ddha-deva</key>
	<array>
		<string>ddha-deva</string>
		<string>rha-deva</string>
		<string>ddh_ya-deva</string>
	</array>
	<key>@MMK_R_dha-deva</key>
	<array>
		<string>dha-deva</string>
		<string>dha_ra-deva</string>
		<string>dh_ra-deva</string>
		<string>dh-deva</string>
	</array>
	<key>@MMK_R_e-deva</key>
	<array>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_l</string>
	</array>
	<key>@MMK_R_five_deva</key>
	<array>
		<string>five-deva</string>
		<string>five-deva.loclNEP</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>ga-deva</string>
		<string>ghha-deva</string>
		<string>gga-deva</string>
		<string>ga_ra-deva</string>
		<string>g_na-deva</string>
		<string>g_n-deva</string>
		<string>g_n_ya-deva</string>
		<string>g_ra-deva</string>
		<string>g_ra_ya-deva</string>
		<string>g-deva</string>
		<string>ghh-deva</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>gha-deva</string>
		<string>gha_ra-deva</string>
		<string>gh_na-deva</string>
		<string>gh_ra-deva</string>
		<string>gh-deva</string>
	</array>
	<key>@MMK_R_guillemets_left</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemets_right</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>ha-deva</string>
		<string>ha-deva.post</string>
		<string>ha_ra-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>h-deva</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>iogonek</string>
		<string>j</string>
	</array>
	<key>@MMK_R_i-deva</key>
	<array>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>jha-deva</string>
		<string>jha_ra-deva</string>
		<string>jh-deva</string>
	</array>
	<key>@MMK_R_iaccent</key>
	<array>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
	</array>
	<key>@MMK_R_j_nya</key>
	<array>
		<string>j_nya-deva</string>
		<string>j_nya_ra-deva</string>
		<string>j_ny-deva</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>ja-deva</string>
		<string>za-deva</string>
		<string>zha-deva</string>
		<string>jja-deva</string>
		<string>ja_ra-deva</string>
		<string>j_na-deva</string>
		<string>j_ya-deva</string>
		<string>j-deva</string>
		<string>z-deva</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>k_ssa-deva</string>
		<string>k_ssa_ra-deva</string>
		<string>k_ss-deva</string>
		<string>k_ss_ma-deva</string>
		<string>k_ss_ya-deva</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>la-deva</string>
		<string>la-deva.loclMAR</string>
		<string>la_ra-deva</string>
		<string>l_ca-deva</string>
		<string>l_bha-deva</string>
		<string>l-deva</string>
		<string>l-deva.loclMAR</string>
	</array>
	<key>@MMK_R_lla-deva</key>
	<array>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>ll-deva</string>
		<string>lll-deva</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>ma-deva</string>
		<string>ma_ra-deva</string>
		<string>m_n-deva</string>
		<string>m_ra-deva</string>
		<string>m-deva</string>
	</array>
	<key>@MMK_R_matras</key>
	<array>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>oMatra-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>auMatra_anusvara-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>iMatra-deva.01</string>
		<string>iMatra-deva.02</string>
		<string>iMatra-deva.03</string>
		<string>iMatra-deva.04</string>
		<string>iMatra-deva.05</string>
		<string>iMatra_reph-deva.01</string>
		<string>iMatra_reph-deva.02</string>
		<string>iMatra_reph-deva.03</string>
		<string>iMatra_reph-deva.04</string>
		<string>iMatra_reph-deva.05</string>
		<string>iMatra_reph_anusvara-deva.01</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>idotless</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>n_ga-deva</string>
		<string>n_ca-deva</string>
		<string>n_nya-deva</string>
		<string>n_bha-deva</string>
		<string>n_ma-deva</string>
		<string>n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_R_na_na_deva</key>
	<array>
		<string>t_ra-deva</string>
		<string>na_ra-deva</string>
		<string>n_na-deva</string>
		<string>n_n-deva</string>
		<string>n_n_ya-deva</string>
		<string>n_ra-deva</string>
	</array>
	<key>@MMK_R_nya_deva</key>
	<array>
		<string>nya-deva</string>
		<string>nya_ra-deva</string>
		<string>ny-deva</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>nna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ssa-deva</string>
		<string>fa-deva</string>
		<string>nna_ra-deva</string>
		<string>pa_ra-deva</string>
		<string>p_jha-deva</string>
		<string>pha_ra-deva</string>
		<string>ssa_ra-deva</string>
		<string>fa_ra-deva</string>
		<string>nn-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>ss-deva</string>
		<string>f-deva</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_rVocalic-deva</key>
	<array>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>ta_ra-deva</string>
		<string>ka_ra-deva.loclNEP</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>kha-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>sa-deva</string>
		<string>khha-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra-deva</string>
		<string>kh_ra_ya-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>kh-deva</string>
		<string>khh-deva</string>
	</array>
	<key>@MMK_R_rr-deva</key>
	<array>
		<string>rr_ya-deva</string>
		<string>rr_ha-deva</string>
		<string>rr-deva</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_sa-deva</key>
	<array>
		<string>sa_ra-deva</string>
		<string>s_ta_ra-deva</string>
		<string>s_tha-deva</string>
		<string>s-deva</string>
	</array>
	<key>@MMK_R_sh-deva</key>
	<array>
		<string>sha_ra-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_na-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_va-deva</string>
		<string>sh_la-deva.loclMAR</string>
		<string>sh-deva.base</string>
	</array>
	<key>@MMK_R_sha-deva</key>
	<array>
		<string>sha-deva</string>
		<string>sha-deva.loclMAR</string>
		<string>sh-deva</string>
		<string>sh-deva.loclMAR</string>
	</array>
	<key>@MMK_R_stacks</key>
	<array>
		<string>k_ka-deva</string>
		<string>k_va-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_ka_ra-deva</string>
		<string>ng_k_t_ta-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_ga_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gha_ra-deva</string>
		<string>ng_ma-deva</string>
		<string>ch_na-deva</string>
		<string>ch_va-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_tt_ya-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_tth_ya-deva</string>
		<string>tth_na-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_dd_ya-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_ddh_ya-deva</string>
		<string>ddh_na-deva</string>
		<string>p_tta-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_tt_va-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_va-deva</string>
		<string>k_la-deva.loclMAR</string>
		<string>kh_la-deva.loclMAR</string>
		<string>g_la-deva.loclMAR</string>
		<string>gh_la-deva.loclMAR</string>
		<string>c_la-deva.loclMAR</string>
		<string>ch_la-deva.loclMAR</string>
		<string>pa_la-deva.loclMAR</string>
		<string>ph_la-deva.loclMAR</string>
		<string>b_la-deva.loclMAR</string>
		<string>bh_la-deva.loclMAR</string>
		<string>m_la-deva.loclMAR</string>
		<string>l_la-deva.loclMAR</string>
		<string>v_la-deva.loclMAR</string>
	</array>
	<key>@MMK_R_stops</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_straightquotes</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_t_t-deva</key>
	<array>
		<string>k_t_ta-deva</string>
		<string>t_ta-deva</string>
		<string>t_t-deva</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>ta-deva</string>
		<string>t_tha-deva</string>
		<string>t_na-deva</string>
		<string>t_ya-deva</string>
		<string>t-deva</string>
	</array>
	<key>@MMK_R_tha-deva</key>
	<array>
		<string>tha-deva</string>
		<string>tha_ra-deva</string>
		<string>th-deva</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>tta-deva</string>
		<string>tt_ya-deva</string>
	</array>
	<key>@MMK_R_ttha-deva</key>
	<array>
		<string>ttha-deva</string>
		<string>tth_ya-deva</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_va-deva</key>
	<array>
		<string>ka-deva</string>
		<string>ba-deva</string>
		<string>va-deva</string>
		<string>qa-deva</string>
		<string>ka_ra-deva</string>
		<string>k_ca-deva</string>
		<string>k_sha-deva</string>
		<string>ba_ra-deva</string>
		<string>b_ja-deva</string>
		<string>b_na-deva</string>
		<string>b_ya-deva</string>
		<string>va_ra-deva</string>
		<string>v_na-deva</string>
		<string>v_n-deva</string>
		<string>v_ya-deva</string>
		<string>v_ra-deva</string>
		<string>v_ha-deva</string>
		<string>k-deva</string>
		<string>b-deva</string>
		<string>v-deva</string>
		<string>q-deva</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>ya-deva</string>
		<string>yya-deva</string>
		<string>jjya-deva</string>
		<string>ya_ra-deva</string>
		<string>y_n-deva</string>
		<string>y_ra-deva</string>
		<string>y-deva</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero.lf</key>
	<array>
		<string>zero.lf</string>
		<string>six.lf</string>
	</array>
</dict>
</plist>
